@page "/People"

@using BlazorTemplate.OpenAPIService

<PageTitle>People</PageTitle>

<h1>People</h1>

@if (_people == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Gender</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var person in _people)
        {
            <tr>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.Gender.ToString()</td>
                <td>@person.Age.ToString()</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {

    [Inject]
    public IPeopleService Service { get; set; }

    private IEnumerable<PersonDetails>? _people;

    protected override async Task OnInitializedAsync()
    {
        _people= await Service.PeopleGetAsync();
    }
}